<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>30828655607-iusork34n4kluq1u14ds0ft40vc86fcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30828655607-iusork34n4kluq1u14ds0ft40vc86fcj</string>
	<key>API_KEY</key>
	<string>AIzaSyBm4Yvx3N0V5VT8iMOu_crZpCP9bEihxz4</string>
	<key>GCM_SENDER_ID</key>
	<string>30828655607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickreichard.messagingapp</string>
	<key>PROJECT_ID</key>
	<string>messageing-app-f734a</string>
	<key>STORAGE_BUCKET</key>
	<string>messageing-app-f734a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:30828655607:ios:0741d0e77282869a</string>
	<key>DATABASE_URL</key>
	<string>https://messageing-app-f734a.firebaseio.com</string>
</dict>
</plist>